@use '../../styles/variables' as vars;

.navContainer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: vars.$space-lg vars.$space-xxl;
    height: 3rem;
    // position: fixed;
    // top: 0;
    // left: 0;
    height: 3.5rem;

    .logoDiv {
        width: 3.5rem;
        height: 3.5rem;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: static !important;
            scale: 1.7;
        }
    }

    .navList {
        display: flex;
        gap: vars.$space-xl;

        li {
            list-style: none;
            padding: vars.$space-xs 0;
            
            a {
                color: vars.$muted-bg;
                text-decoration: none;
                font-size: 1.05rem;
                font-weight: 600;
                transition: color vars.$transition-fast ease-in-out, transform vars.$transition-fast ease-in-out;

                &:hover {
                    color: vars.$brand;
                    transform: translateY(-2px);
                }
            }
        }

        .navButton {
            background: vars.$muted-bg;
            padding: 0 vars.$space-md;
            border-radius: vars.$radius-xxl;
            box-shadow: vars.$shadow-sm;
            display: inline-flex;
            align-items: center;
            height: 2.25rem;
            border: none;
            cursor: pointer;
            
            a{
                color: vars.$main-color;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navContainer {
        .navList {
            display: none;
        }

        a {
            text-decoration: none;
            color: #000;
            font-size: 1.2rem;
            font-weight: 600;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: #fff;
            }
        }
    }
}